/* CSS file for Wifi Chat */

:root {
  --primary-color: #4a56e2;
  --secondary-color: #f3f4f6;
  --text-color: #1f2937;
  --light-color: #fff;
  --dark-color: #1e40af;
}

body.main {
  font-family: 'Poppins', sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  max-width: 600px;
  background-color: var(--light-color);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

.title {
  text-align: center;
  margin-bottom: 30px;
  color: var(--primary-color);
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.username-label {
  flex: 1;
  margin-right: 20px;
  display: block;
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.username-input {
  flex: 2;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}

.connect-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--light-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-bottom: 20px;
}

.connect-button:hover {
  background-color: var(--dark-color);
}